@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.NavBar li{
    display: inline;
}

.NavBar li:not(:first-child){
    margin-left: 0.75rem;
}

.NavBar a:focus, a:hover {
    text-decoration: underline;
    color: darkred;
}