@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li{
    display: inline;
}

li:not(:first-child){
    margin-left: 0.75rem;
}

a:focus, a:hover {
    text-decoration: underline;
    color: darkred;
}